<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ormConfig" class="ru.otus_matveev_anton.db.my_orm.MyOrmConfig">
        <constructor-arg name="configFiles">
            <list>
                <value>/connection.cfg</value>
                <value>/MyOrmConf.cfg</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="mapperFactory" class="ru.otus_matveev_anton.db.my_orm.MapperFactoryImpl">
        <constructor-arg name="myOrmConfig" ref="ormConfig"/>
    </bean>

    <bean id="serviceMyOrm" class="ru.otus_matveev_anton.db.DBServiceMyOrmImpl">
        <constructor-arg name="factory" ref="mapperFactory"/>
    </bean>

    <bean id="serviceWithCache" class="ru.otus_matveev_anton.db.DBServiceWithCache">
        <constructor-arg name="service" ref="serviceMyOrm"/>
    </bean>

    <bean id="mainMyOrmWithCache" class="ru.otus_matveev_anton.MainMyOrmWithCache">
        <constructor-arg name="dbService" ref="serviceWithCache"/>
    </bean>

</beans>